<!-- Custom head -->

<!-- Override bootstrap thumbnail style to make it look better -->
<!-- Use: class="img-thumbnail img-thumbnail-300h" -->
<style>
    .img-thumbnail-300h {
      height: 300px;
      width: auto;
    }

    .img-thumbnail-250h {
      height: 250px;
      width: auto;
    }

    .no-margin {
      margin-top: 0px;
    }

    .no-wrap {
      white-space: nowrap;
    }
</style>

<!-- Add underline to headers -->
<style>
  h2,
  .h2 {
    border-bottom: 1px solid grey;
  }

  h3,
  .h3 {
    border-bottom: 1px solid grey;
  }

  h4,
  .h4 {
    border-bottom: 0.5px solid grey;
  }
</style>

<!-- Create box for top of how to pages on THE 100 -->
<style>
  .bd {
      position: relative;
      padding: 1rem;
      margin: 1rem -0.75rem 0;
      border: solid #dee2e6;
      border-width: 1px 0 0;
  }
  .bd::after {
      display: block;
      clear: both;
      content: "";
  }
  @media (min-width: 5px) {
      .bd {
          padding: 1.5rem;
          margin-right: 0;
          margin-left: 0;
          border-width: 1px;
          border-top-left-radius: 0.25rem;
          border-top-right-radius: 0.25rem;
      }
  }
</style>

<!-- <style>
  .lil-gui { 
	--background-color: rgb(147, 36, 30);
	--widget-color: #0af;
	--padding: 2px;
  }
</style> -->

